/node_modules
/vendor
.env
.env.local
.env.production
backend/.env
backend/.env.production
frontend/.env
frontend/.env.production
.DS_Store
dist
build
*.log
.idea
.vscode
backend/storage/*.key
backend/public/storage
backend/database/database.sqlite
backend/vendor/
frontend/node_modules/
